<li class="list-group-item list-group-item-action" [attr.status] = "status" [style.background-color]="color">
  <div class="row">
    <div class="col-sm-1"><button type="button" class="btn btn-outline-warning" (click)="IsFavorite()"><img [srcset]="star" src="assets/star.png"></button></div>
    <div class="col"><p class="task-text"><ng-content></ng-content></p></div>
    <div class="col-sm-1"><button type="button" class="btn btn-success" (click)="ToComplete()"><img src="assets/complete%20(1).png"></button></div>
    <div class="col-sm-1"><button type="button" class="btn btn-warning" (click)="ToProcess()"><img src="assets/process.png"></button></div>
  </div>
</li>
