.app-header{
  border-bottom: 2px solid black;
}
body{
  background: rgba(229, 229, 229, 0.75);
}
.main-container-start{
  background: #ff2727;
  border-bottom: 2px solid black;
}
.main-container-process{
  background: #fdfd00;
  border-bottom: 2px solid black;
}
.main-container-end{
  background: #00ff00;
  border-bottom: 2px solid black;
}
.main-container-body{
  height: 400px;
}
